<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated network -->
      <package
            uri="http://org.metable.hex.ch02.domain.network.emf/network"
            class="org.metable.hex.ch02.domain.emf.network.NetworkPackage"
            genModel="model/network.genmodel"/>
   </extension>

</plugin>
